html{
    font-family: Arial;
}

body{
    margin: 0px;
    padding: 0px;
}

/* Menu */
nav{
    width: 100%;
    background: rgba(6,84, 113);
    position: fixed;
    z-index: 9999;
}

.menu > ul{
    padding: 0px;
}

.menu > ul > li{
    display: inline-block;
    border-left: 1px solid white;
}

.menu a {
    display: inline-block;
    width: 150px;
    padding: 10px 0px;
}

.menu > ul > li:first-of-type{
    border-left: 0px;
}

.menu a, .artikel a{
    color: rgba( 255, 194, 68);
    text-decoration: none;
}

.menu a:hover{
    opacity: 0.8;
}

.menu {
    width: 80%;
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    margin-top: 15px;
}

.header_img img {
    width: 100%;
    margin-top: 50px;
}
/* END Menu*/

/* All the sections */
#over_ons h1,
#leden h1,
#nieuws h1,
#loterij h1,
.contact_wrapper h1{
    text-align: center;
    font-size: 40px;
    color: rgba( 255, 194, 68);
}

#over_ons,
#leden,
#nieuws,
#loterij,
#contact{
    width: 100%;
    line-height: 20px;
    padding: 100px 15%;
    box-sizing: border-box;
}

/* END All the sections */

.header > .foto img {
    width: 150px;
    display: inline-block;
}
/* Over ons */
#over_ons p {
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}

#teamfoto{
    width: 40%;
    float:right;
    display: inline-block;
    padding-left: 30px;
}

.foto, .menu{
    display:inline-block;
}

/* End Over Ons */

/* Leden */
#leden{
    background: #eee;
}

#leden h1{
    margin-top: 30px;
}

.w3-display-container.mySlides {
    position: relative;
    margin: auto;
    text-align: center;
    line-height: 20px;
    width: 30%;
}

.mySlides img {
    width: 90% !important;
}

.leden_container {
    padding-bottom: 20px;
}

.controls{
    text-align: center;
    margin-top:20px;
}

.w3-content.w3-display-container {
    text-align: center;
}

/* End Leden */

/* Nieuws */
#nieuws{
    background: #0A91AB;
    text-align: center;
    padding: 5% 0px;
}

#nieuws h1{
    color: rgba( 255, 194, 68);
}

.artikel{
    width: 70%;
    margin-left:15%;
    background:white;
    text-align:left;
    margin-bottom: 50px;
}

.artikel_img, .artikel_text{
    display:inline-block;
    text-align: left;
    vertical-align: top;
}

.artikel_img{
    padding-right: 20px;
    height:200px;
}

.artikel_text{
    width:70%;
}

.nieuws_pagina {
    width: 60%;
    margin-left: 20%;
}

.nieuws_pagina h1 {
    text-align: center;
}

a.terug_knop{
    background: rgba(6,84, 113);
    color: rgba( 255, 194, 68);
    padding: 10px 0px;
    width: 20%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* End Nieuws */

ul{
    list-style-type: none;
}

button, input[type=button]
{
    border: 0px;
    padding: 5px 0px;
}

#inputs
{
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

#topText, #message
{
    color: black;
}

#loterij input {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}

#loterij input[type=button]{
    background: rgba(6,84, 113);
    color: rgba( 255, 194, 68);
    border: none;
    padding: 10px 0px;
    height: unset;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

#Winners
{
    width: 30%;
    display: inline-block;
    margin-left: 40px;
    float: right;
}

#WinnerList{
    overflow-y: scroll;
    max-height: 250px;
}

.contact_wrapper
{
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    color: #ffc244;
    margin-bottom: 20px;
    padding-top: 15px;
}

.contact_form
{
    margin: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: baseline;
    max-width: 70%;
}

.contact_form input, .contact_form textarea, .contact_form select
{
    min-height: 30px;
    background-color: #e6edf0;
    margin-top: 5px;
    padding-left: 10px;
    width: 100%;
    border: 0px;
}


.contact_form #input_onderwerp
{
    width: 100%;
}

.contact_form #input_bericht
{
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
}

.contact_form button, .leden_container button
{
    background-color: #065471;
    color: #ffc244;
    width: 100%;
    font-size: 1.3em;
    padding: 10px 0px;
}
.leden_container button{
    width: 50px !important;
}
.leden_container .button_left{
    margin-right: 20px;
}

.contact_form button:hover,#loterij input[type=button]:hover, #leden button:hover
{
    background-color: #ffc244;
    color: #065471;
    cursor: pointer;
}

.contact_form input[type=checkbox]
{
    width: 20px;
    cursor: pointer;
}

#contact{
    padding-bottom: 70px;
    background: rgba(18, 120, 140, 0.9);
}

.contact_form label
{
    text-align: left;
    margin-left: 0px;
    width: 100%;
    padding-top: 10px;
}

form > p {
    margin: 9px 0px;
    display: inline-block;
}



div#footer {
    text-align: center;
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0px;
}


/* Tablet */
@media screen and (max-width: 1024px) {
    .artikel_text {
        width: 50%;
    }
    .mySlides img {
        width: 100% !important;
    }

    .w3-display-container.mySlides {
        width: 30% !important;
    }

    .menu{
        width: 78%;
    }
    .menu a {
        width: 110px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    /* Menu */
    nav{
        width: 100%;
        background: rgba(6,84, 113);
        position: static;
        z-index: 9999;
    }

    .menu {
        width: 100%;
        margin-top: 0px;
    }

    .header {
        width: 100%;
    }
    .header > .foto img {
        width: 30%;
        display: inline-block;
        margin-left: 35%;
    }

    .menu > ul > li {
        width: 100% !important;
        display: block;
        border: none;
    }

    .header_img img{
        margin-top: 0px;
    }
    #teamfoto{
        width: 100%;
    }

    #over_ons,
    #leden,
    #nieuws,
    #loterij,
    #contact{
        width: 100% !important;
        padding: 100px 5%;
    }


    /* Nieuws */
    .artikel_img{
        height: auto;
        width: 100%;
    }

    .artikel_img img{
        width: 100%;
    }

    .artikel_text{
        width: 90%;
        padding: 10px;
    }

    ul {
        list-style-type: none;
        width: 100%;
        padding: 0px;
    }

    .artikel{
        width: 80%;
        margin-left: 10%;
    }
    .nieuws_pagina {
        width: 80%;
        margin-left: 10%;
    }

    a.terug_knop{
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0px;
    }

    /* End Nieuws */

    /* Loterij */
    #inputs {
        width: 100%;
        height: auto;
        display: block;
    }

    #Winners {
        width: 100%;
        float:none;
        margin-left: 0px;
    }

    /* End Loterij */

    /* Contact Form */
    .contact_wrapper
    {
        width: 100%;
    }

    #loterij input[type=button]{
        width: 100%;
        margin-left: 0px;
    }


    .contact_form input,
    .contact_form select,
    .contact_form textarea,
    .contact_form button
    {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .contact_form
    {
        max-width: 100%;
    }

    .contact_form label
    {
        text-align: left;
        margin-left: 20px;
        width: 100%;
        padding-top: 20px;
    }

    .mySlides img {
        width: 100% !important;
    }

    .w3-display-container.mySlides {
        width: 48% !important;
    }

}

