html{
    font-family: Arial;
}

body{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    background: rgba(6,84, 113);
}

.menu > ul > li{
    display: inline-block;
    width: 16%;
    padding: 10px 0px;
    border-left: 1px solid white;
}

.menu > ul > li:first-of-type{
    border-left: 0px;
}

.menu a, .artikel a{
    color: rgba( 255, 194, 68);
    text-decoration: none;
}


.menu a:hover{
    opacity: 0.8;
}

.header > .foto img {
    width: 250px;
    display: inline-block;
}

#over_ons {
    width: 70%;
    line-height: 20px;
    text-align: justify;
    margin: 100px 15%;
    padding: 20px 0px;
}

#over_ons h1, #leden h1, #loterij h1{
    text-align: center;
    font-size: 40px;
    color: rgba( 255, 194, 68);
}

.foto, .menu{
    display:inline-block;
}

.menu{
    width: 60%;
    text-align:center;
    font-size:20px;
    vertical-align:top;
    margin-top:100px;
}

.header_img img {
    width: 100%;
}

#leden{
    background: #eee;
}

#leden h1{
    margin-top: 30px;
}
.w3-display-container.mySlides {
    position: relative;
    margin: auto;
    left: 20%;
}
.button_left {
    position: relative;
    z-index: 999;
    left: 250px;
    top: -150px;
}
.button_right {
    position: relative;
    right: -350px;
    top: -150px;
}

#nieuws{
    background: #0A91AB;
    text-align: center;
    padding: 5% 0px
}

#nieuws h1{
    color: rgba( 255, 194, 68);
}

.artikel{
    width: 70%;
    margin-left:15%;
    background:white;
    text-align:left;
    margin-bottom: 50px;
}

.artikel_img, .artikel_text{
    display:inline-block;
    text-align: left;
    vertical-align: top;
}

.artikel_img{
    padding-right: 20px;
    height:200px;
}

.artikel_text{
    width:70%;
}

.nieuws_pagina {
    width: 60%;
    margin-left: 20%;
}

.nieuws_pagina h1 {
    text-align: center;
}

a.terug_knop {
    background: rgba(6,84, 113);
    color: rgba( 255, 194, 68);
    padding: 10px 0px;
    width: 20%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#loterij{
    width: 70%;
    padding: 20px 15%;
    margin-top:0px;
    margin-bottom: 50px;

}

#loterij h1{
    margin-top: 0px;
}
#inputs
{
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

#topText, #message
{
    color: black;
}

#loterij input{
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
    padding-left:5px;
}

#loterij input[type=button]{
    background: rgba(6,84, 113);
    color: rgba( 255, 194, 68);
    border: none;
    padding: 10px 0px;
    height: unset;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

#WinnerList
{
    width: 30%;
    height: 250px;
    overflow-y: scroll;
    display: inline-block;
    margin-left: 40px;
    float: right;
}

.contact_wrapper
{
    text-align: center;
    display: block;
    margin: auto;
    width: 800px;
    min-height: 300px;
    color: #ffc244;
    margin-bottom: 20px;
}

.contact_form
{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: baseline;
    justify-content: space-evenly;
}

.contact_form input, .contact_form textarea, .contact_form select
{
    min-height: 30px;
    background-color: #e6edf0;
    margin-top: 15px;
    padding-left: 10px;
}


.contact_form #input_onderwerp
{
    width: 100%;
}

.contact_form #input_bericht
{
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
}

.contact_form button
{
    background-color: #065471;
    color: #ffc244;
    width: 200px;
    font-size: 1.3em;
}

.contact_form button:hover
{
    background-color: #ffc244;
    color: #065471;
    cursor: pointer;
}

.contact_form input[type=checkbox]
{
    width: 20px;
}

.contact_form input[type=checkbox]
{
    cursor: pointer;
}

#contact{
    padding-bottom: 70px;
    background: rgba(18, 120, 140, 0.9);

}

div#footer {
    text-align: center;
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0px;
}